<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      eunoia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="navbar text-center">
    <div style="margin: 0 auto">
      <h6><i>eunoia</i> comes from the greek word εὔνοια, meaning "well mind" or "beautiful thinking."</h6>
      <h4>leave your thoughts here, but only happy thoughts stay in the sentiment stream...</h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="jumbotron py-3" align="center">
          <textarea type="text"  placeholder="what are you thinking?" [(ngModel)]="message.message"></textarea>
          <ion-button size="medium" color="tertiary" (click)="createMessage()">send to stream</ion-button>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            sentiment stream
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let message of messages">
              <h6 class="text-primary font-weight-light">happiness level: <span class="font-weight-bold">{{ message.score }}</span></h6>
              <h3 class="py-3">
                {{ message.message }}
              </h3>
              <small>
                <p class="text-muted font-italic">
                  posted on {{ message.dateCreated }}
                </p>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
