<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      eunoia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="navbar text-center">
    <div style="margin: 0 auto">
      <h6><i>eunoia</i> comes from the greek word εὔνοια, meaning "well mind" or "beautiful thinking."</h6>
      <h4>leave your thoughts here, but only happy thoughts stay in the sentiment stream...</h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="jumbotron py-3" align="center">
          <textarea type="text"  placeholder="what are you thinking?" [(ngModel)]="message.message"></textarea>
          <ion-button size="medium" color="tertiary" (click)="createMessage()">send to stream</ion-button>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-8">
        <div class="card">
            sentiment stream
          <ion-grid>
              <ion-row>
                <ion-col *ngFor="let message of messages" >
                  <ion-card>
                      <ion-card-header>
                          <ion-card-subtitle>happiness level: {{ message.score }}</ion-card-subtitle>
                          <ion-card-title> {{ message.message }} </ion-card-title>
                          <ion-label>{{message.dateCreated}} </ion-label>
                        </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
          </ion-grid>
          
        </div>
      </div>
    </div>
  </div>
