<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      eunoia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section> 
    <h1>hi, i'm leena:</h1>
      <img style="width:150px;height:160px;" src="https://instagram.flis8-2.fna.fbcdn.net/vp/6624b4e4471d870376c8a23f9b2ac184/5DA81269/t51.2885-19/s320x320/53646756_286137085638118_8921334835495043072_n.jpg?_nc_ht=instagram.flis8-2.fna.fbcdn.net">
      <p>
  an aspiring programmer who strives for growth and awareness constantly
      </p>
    </section>

  <section>
    <h2> about: </h2>
    <p>
        <ion-icon name="home"></ion-icon>  lives in sf bay area
        <br>
        <ion-icon name="school"></ion-icon> attends uc santa barbara
    </p>
  </section>

  <section>
      <h2> contact: </h2>
      <p>
        <ion-icon name="logo-github"></ion-icon> xitsleena
      </p>
  </section>
